.container {
  padding: 1.5rem;
}
.page__container {
  background-color: #f8f9fb !important;
}

.title {
  font-weight: 700;
  color: #fff;
  margin-bottom: 1rem;
}

.graph__container {
  padding: 1.2rem;
}

.box__content {
  height: 15rem;
}

.button__large {
  margin: 0 2rem;
}

.table__header {
  background-color: #00d1b2 !important;
  padding: 1px 0 0;
}

.pagination-link.is-current {
  border-color: #00d1b2 !important;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 3rem;
  padding: 1rem;
}
