@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root {
  --primary: #7cd0df;
  --secondary: #191410;
  --terciary: #fafafa;
}

.App {
  display: flex;
  flex-direction: row;
  font-family: 'Inter', sans-serif;
}
